<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <log4net debug="true">
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <param name="File" value="\logs\Applog.log" />
      <param name="datePattern" value="yyyy-MM-dd HH:mm" />
      <param name="AppendToFile" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c[%L] - %m%n" />
      </layout>
    </appender>
    <appender name="HttpTraceAppender" type="log4net.Appender.ASPNetTraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c[%L] - %m%n" />
      </layout>
    </appender>
    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c[%L] - %m%n" />
      </layout>
    </appender>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--<threshold value="Error" />-->
      <file value="log\\ErrorLog" />
      <staticLogFileName value="false" />
      <MaxSizeRollBackups value="10" />
      <MaximumFileSize value="10240KB" />
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <rollingStyle value="Composite" />
      <datePattern value="_yyyyMMdd&quot;.log&quot;" />
      <layout type="log4net.Layout.PatternLayout">
        <!--<param name="ConversionPattern" value="%d [%t] %-5p %c %x - %m%n" />-->
        <param name="ConversionPattern" value="%d [%t] %-5p %c[%L] - %m%n" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR" />
        <levelMax value="FATAL" />
      </filter>
    </appender>
    <appender name="RollingLogFileAppender2" type="log4net.Appender.RollingFileAppender">
      <!--<threshold value="Info" />-->
      <file value="log\\InfoLog" />
      <staticLogFileName value="false" />
      <MaxSizeRollBackups value="10" />
      <MaximumFileSize value="10240KB" />
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <rollingStyle value="Composite" />
      <datePattern value="_yyyyMMdd&quot;.log&quot;" />
      <layout type="log4net.Layout.PatternLayout">
        <!--<param name="ConversionPattern" value="%d [%t] %-5p %c %x - %m%n" />-->
        <param name="ConversionPattern" value="%d [%t] %-5p %c[%L] - %m%n" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
        <levelMax value="INFO" />
      </filter>
    </appender>
    <!--定义输出到控制台命令行中-->
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] %-5p %c[%L] - %m%n" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingLogFileAppender" />
      <appender-ref ref="RollingLogFileAppender2" />
      <appender-ref ref="ConsoleAppender" />
    </root>
  </log4net>
  <connectionStrings>
    <add name="orcl" connectionString="Data Source=172.18.1.15/orcl;Persist Security Info=True;User ID=embase;Password=1234;Min Pool Size=10;Max Pool Size=50" />
  </connectionStrings>
  <appSettings>
    <!--调用的查询服务地址-->
    <!--<add key="mapAPI" value="http://192.168.173.85:8080/gisQRCode/place/search/placeSearch?query=" />-->
    <add key="region" value="钦州" />
    <add key="mapAPI" value="http://api.map.baidu.com/place/search?coord_type=wgs84&amp;src=telewave&amp;region=^region^&amp;query=" />
    <!--二维码的百度地址容量（单位：个）-->
    <add key="pointCountSize" value="6" />
    <!--是否写日志的标志位 0：不写日志，1：写日志-->
    <add key="IsDebug" value="1" />
    <!--生成二维码的尺寸-->
    <add key="outerCodeSize" value="450" />
    <!--摄像头扫描的频率-->
    <add key="scanTime" value="250" />

    <!--关闭程序的频率-->
    <add key="_timerExit" value="50" />


    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>